<h1>カード情報を確認してください</h1>

<table class="form">
  <tr>
    <th>カードブランド</th>
    <td>
      Visa
    </td>
  </tr>
  <tr>
    <th>カード番号</th>
    <td>
      123456789
    </td>
  </tr>
  <tr>
    <th>カード名義</th>
    <td>
      エイアイジー
    </td>
  </tr>
  <tr>
    <th>有効期限</th>
    <td>
      10/23
    </td>
  </tr>
  <tr>
    <th>セキュリティコード</th>
    <td>
      ***
    </td>
  </tr>
</table>
<div class="ta-c">
<br /><button  routerLink="/thanks">支払う</button><br />
</div>
<br />
<div class="ta-c" routerLink="/credit">修正する</div>
