.ta-c{
  text-align: center;
}
.td_under{
  margin-top: 20px;
  text-align: center;
  span{
    text-decoration: underline;
    position: relative;
    display: inline-block;
  &::after{
    content: "<";
    position: absolute;
    left: -15px;

  }
  }
}
.fs12{
  font-size: 12px;
}
button, .btn{
  appearance: none;
  display: inline-block;
  line-height: 40px;
  text-decoration: inherit;
  width: 200px;
  height: 40px;
  background: blue;
  color: #fff;
  font-weight: 700;
}
body {
  margin: 0;
  padding-bottom: 12rem;
}
h1{
  text-align: center;
  font-size: 16px;
  margin-bottom:30px;
}

table.form {
  width: 90%;
  max-width: 560px;
  margin: auto;
  border-collapse: collapse;
}
table.form > tr > * {
  padding: 0.25rem 0.5rem;
  border: 1px solid #bee5eb;
}
table.form > tr > th {
  width: 50%;
  text-align: left;
  background: #d1ecf1;
  color: #0c5460;
  font-weight: normal;
}
.form .gcim {
  border-color: #bee5eb;
  width: 200px;
}
/* ウォーターマークのスタイル */
.form .gcim_watermark_null {
  color: #0c5460;
}
.form .gcim-notify__tip-container {
  margin-left: 16px;
}
.form .gcim__soft-keyboard{
  width: 400px;
}
